.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.nav__left {
    display: flex;
}

.nav__logo {
    max-width: 52px;
    max-height: 52px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list__item {
    margin: 0 20px;
    list-style: none;
}

.nav__menu {
    display: none;
}

.nav__button {
    height: 52px;
    width: 145px;
}

.nav__button:first-of-type {
    margin-right: 20px;
}

/* For Mobile View */
@media screen and (max-width: 360px) {
    .navbar {
        max-width: 332px;
        margin: 20px;
    }

    .nav__list {
        display: none;
    }

    .nav__menu {
        display: block;
    }

    .nav__button {
        display: none;
    }
}

/* For Tablet View */
@media screen and (min-width: 360px) {
    .navbar {
        max-width: 960px;
        margin: 36px 32px;
    }
}

/* For Desktop View */
@media screen and (min-width: 1024px) and (max-width: 2560px){
    .navbar {
        max-width: 1280px;
        margin: 36px 80px;
    }
}

@media screen and (min-width: 2560px) {
    .navbar {
        max-width: 2280px;
        margin: 36px 1400px;
    }
}
