.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

@media screen and (max-width: 360px) {
    .navbar {
        max-width: 332px;
    }
}

.nav__logo {
    max-width: 52px;
    max-height: 52px;
}


.nav__left {
    display: flex;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list__item {
    margin: 0 20px;
    list-style: none;
}
