@import "header.css";

@font-face {
    font-family: 'Neue Machina';
    src: url("fonts/NeueMachina-Light.otf");
    font-style: normal;
}


body {
    background: #CACACA;
    font-family: "Neue Machina", serif;
}

/*Accessibility*/
.visible-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visible-hidden:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
}

/*Buttons*/
.button--gray {
    background: #F0F0F0;
    color: #151515;
    border-color: #F0F0F0;
}

.button--dark {
    background: #151515;
    color: #ffffff;
    border-color: #151515;
}

.button--gray:hover, .button--dark:hover {
    background: #FFFFFF;
    color: #151515;
    border-color: #FFFFFF;
}
