.header__in-site__icon {
    height: var(--min-element-height);
    display: inline-flex;
    align-items: center;
}

@media screen and (min-width: 360px) {
    .header__in-site__icon {
        display: none;
    }
}
