:root {
    --black: #151515;
    --white: #FFF;

    --light-grey: #F0F0F0;
    --dark-grey: #404040;

    --light-blue: #cbd7f4;
    --dark-blue: #1d5aea;

    --light-red: #fddbdb;
    --dark-red: #d13e3e;
}
