.hero__info__group {
    max-width: 330px;
}

.hero__info__auth {
    max-width: 318px;
    display: flex;
    margin: 30px 0;
}

.hero__info__auth__input {
    max-width: 186.28px;
    text-align: center;
}

.hero__info__auth__button {
    max-width: 131.72px;
}
