a {
    color: var(--primary-text);
    text-decoration: auto;
}

span {
    line-height: 26px;
}

button {
    block-size: var(--min-element-height);
    cursor: pointer;
}

input {
    block-size: var(--min-element-height)
}
